:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.2s linear;
}

body {
    background-color: black;
    background-image: url("https://images.pexels.com/photos/6623944/pexels-photo-6623944.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}

.header .logo img {
    width: 90px;
    height: 90px;
}

.icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #ea580c;
    padding: 0 1rem;
}

.icons img:hover {
    width: 35px;
    height: 35px;
}

.header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: #ea580c;
    font-weight: bold;
    z-index: 99;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.carousel {
    display: flex;
    position: relative;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    padding: 0 14rem;
    width: 1200px;
    height: 300px;
}

#carousel-imagens {
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 280px;
}

#carousel-imagens img {
    position: relative;
    max-width: 480px;
    height: 280px;
    align-content: center;
    border-radius: 12px;
}

.conteudo {
    color: #fff;
    padding: 2rem;
    text-shadow: 1px 1px black;
}

.conteudo h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.conteudo h2 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
}

.conteudo h4 {
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 10px;
}

/*CONTEUDO HOVER*/

.conteudo h3:hover {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ea580c;
}

.conteudo h2:hover {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ea580c;
}

.conteudo h4:hover {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ea580c;
}

/* MENU DE HAMBURGUERES */

.menu-hamburguer {
    display: grid;
    max-width: 100vw;
    max-height: 600px;
    margin-top: 60px;
    z-index: 0;
}

.menu-hamburguer .fundo {
    display: grid;
    height: 100%;
    width: 100vw;
    z-index: 1;
}

.recomendados {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    top: 80%;
    position: absolute;
}

.recomendados .rec {
    font-size: 38px;
    color: #fff;
    z-index: 98;
    letter-spacing: 8px;
}
.recomendados .rec:hover {
    font-size: 42px;
    color: black;
    text-shadow: 1px 1px #ea580c;
    z-index: 99;
}

.menu-hamburguer .list {
    padding: 0 11rem;
    max-width: 90vw;
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 80%;
    z-index: 90;
    justify-content: space-between;
}

.list .item {
    display: block;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    height: 50%;
    max-width: 30%;
}

.menu-hamburguer .list img {
    display: flex;
    width: 200px;
    height: 200px;
}
.menu-hamburguer .list img:hover {
    width: 230px;
    height: 230px;
}

.content {
    display: inline-block;
    align-items: start;
    text-align: start;
    flex-wrap: wrap;
    width: 100%;
}

.hbg-img {
    justify-content: center;
    align-items: center;
    z-index: 91;
}

.content h2 {
    color: #fff;
    font-size: 32px;
}
.content h2:hover {
    font-size: 36px;
    text-shadow: 1px 1px #ea580c;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

.content .description {
    color: #fff;
    font-size: 24px;
    align-items: center;
    margin-top: 4px;
    padding: 4px 0;
    z-index: 91;
}
.content .description:hover {
    font-size: 26px;
    text-shadow: 1px 1px #ea580c;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

.content .information {
    background-color: white;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    margin-top: 8px;
    color: #ea580c;
    font-weight: bold;
    cursor: pointer;
    border-style: ridge;
    border-color: #ea580c;
    position: relative;
}
.content .information:hover {
    background-color: #ea580c;
    width: 220px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

/* FORMULÁRIO */

.media {
    display: flex;
    margin-left: 17rem;
    margin-top: 100px;
    max-width: 1200px;
    height: 500px;
    z-index: 99; 
}

.form {
    width: 1200px; 
    display: flex;
    align-items: center;    
}

form {
    display: grid;
    background-image: linear-gradient(-90deg, transparent, #ea580c 200%);
    border-radius: 20px;
}

.form-campo {
    padding: 1rem 2rem;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #fff;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 300px;
    height: 30px;
    border-radius: 12px;
    color: #ea580c;
    font-weight: bold;
    font-size: 16px;
    border-style: ridge;
    border-color: #ea580c;
}

.form-campo textarea {
    resize: none;
    width: 300px;
    height: 80px;
    border-radius: 12px;
    border-style: ridge;
    border-color: #ea580c;
    color: #ea580c;
}

.form button {
    padding: 1rem 2rem;
    align-self: center;
    justify-self: center;
    border-radius: 12px;
    margin-bottom: 10px;
    width: 88%;
    font-weight: bold;
    font-size: 16px;
    color:#ea580c;
    background-color: #fff;
    border-style: ridge;
    border-color: #ea580c;
}

.form button:hover {
    background-color: #ea580c;
    color: #fff;
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    height: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, transparent, black 50%);
    color: black;
    text-decoration: none;
}

footer .bottom {
    font-size: 16px;
}

footer .bottom p {
    color: #fff;
}

footer .bottom p a {
    text-decoration: none;
    color: #ea580c;
}


@media screen and (max-width: 767px) {
    .header {
        display: block;
    }

    .navbar {
        display: flex;
    }

    .carousel {
        display: block;
        overflow-y: hidden;
        max-width: 90%;
        padding: 0;
    }

    #carousel-imagens {
        display: none;
    }

    .conteudo h3 {
        font-size: 28px;
    }

    .conteudo h2 {
        font-size: 32px;
    }

    .conteudo h4 {
        font-size: 18px;
    }

}

