:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
    overflow: ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
    
}

body {
    background-color: black;
    background-image: url("https://images.pexels.com/photos/6623944/pexels-photo-6623944.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
}

.header .logo img {
    width: 90px;
    height: 90px;
}

.icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #ea580c;
    padding: 0 1rem;
}

.icons img:hover {
    width: 35px;
    height: 35px;
}

.header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    margin: 0 1rem;
    font-size: 3rem;
    color: #ea580c;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 4rem;
}

.carousel {
    display: flex;
    position: relative;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    padding: 0 14rem;
    background-color: ;
    width: 1200px;
    height: 300px;
}

#carousel-imagens {
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 480px;
    height: 280px;
}

#carousel-imagens img {
    position: relative;
    max-width: 480px;
    height: 280px;
    align-content: center;
    border-radius: 12px;
}

.conteudo {
    color: #fff;
    padding: 2rem;
    text-shadow: 1px 1px black;
}

.conteudo h3 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.conteudo h2 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
}

.conteudo h4 {
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 40px;
}

/*CONTEUDO HOVER*/

.conteudo h3:hover {
    font-size: 44px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #ea580c;
}

.conteudo h2:hover {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #ea580c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conteudo h4:hover {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 40px;
    color: #ea580c;
}

/* MENU DE HAMBURGUERES */

.menu-hamburguer {
    background-color: yellow;
    display: block;
    margin-left: 17rem;
    margin-top: 60px;
    max-width: 1200px;
    height: 400px;
}

.recomendados {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #fff;
}

.menu-hamburguer .list {
    width: 100%;
    height: 90%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.menu-hamburguer .list .active {
    background-color: green;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.menu-hamburguer .list img {
    display: flex;
    width: 200px;
    height: 200px;
}

.active .content {
    display: flex;
    flex-direction: column;
    
}

.active .hbg-img {
    justify-content: center;
    align-items: center;
}

/* FORMULÁRIO */

.media {
    background-color: red;
    display: flex;
    position: ;
    margin-left: 17rem;
    margin-top: 60px;
    max-width: 1200px;
    height: 400px;
    z-index: 99; 
}

.form {
    width: 400px; 
}

form {
    background-color: blue;
}

.form-campo {
    padding: 0 3rem;
    width: 400px;
    font-size: 12px;
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 300px;
    height: 30px;
}

.form-campo textarea {
    resize: none;
    width: 300px;
    height: 80px;
}

